<!-- <ul>
  <li *ngFor="let item of data">
     <p>{{item.id}}</p>
     <p>{{item.completed}}</p>
     <p>{{item.title}}</p>
     <p>{{item.userid}}</p>
  </li>
</ul> -->



<!-- <table border="1" style="border-collapse: collapse; width: 100%;">
  <thead>
      <tr>
        <th>ID</th>
        <th> User ID</th>
        <th>Title</th>
        <th>completed</th>
      </tr>
  </thead>
  <tbody>
     <tr *ngFor="let item of data">
      <td>{{item.id}}</td>
      <td>{{item.userId}}</td>
      <td>{{item.title}}</td>
      <td>{{item.completed}}</td>
     </tr>
  </tbody>
</table> -->



<!-- <table style="width: 100%; border-collapse: collapse; text-align: left;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="border: 1px solid #ddd; padding: 8px;">ID</th>
      <th style="border: 1px solid #ddd; padding: 8px;">User ID</th>
      <th style="border: 1px solid #ddd; padding: 8px;">Title</th>
      <th style="border: 1px solid #ddd; padding: 8px;">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td style="border: 1px solid #ddd; padding: 8px;">{{ item.id }}</td>
      <td style="border: 1px solid #ddd; padding: 8px;">{{ item.userId }}</td>
      <td style="border: 1px solid #ddd; padding: 8px;">{{ item.title }}</td>
      <td style="border: 1px solid #ddd; padding: 8px;">{{ item.completed }}</td>
    </tr>
  </tbody>
</table> -->

<input type="text" [(ngModel)]="tvValue"/>
<br>

<button (click)="evtCreateNewTV()">insert:post</button> |
<button (click)="getTVSById(tvValue)">GetTVByID</button> |
<button (click)="updateTV(tvValue)">update:put</button>
<button (click)="patchTV(tvValue)">updateMINiRec:patch</button>
<button (click)="deleteTV(tvValue)">Delete</button>
